.footer-distributed{
	background: #0D3249;  
	/* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); */
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px;
	padding: 40px 50px 30px 60px;
	margin-top: 0;
}


.footer-left img{
    width: 300px;
    height: auto;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}


/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 18px 25px 12px 25px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #fff;
	font-size: 14px;
	font-weight: normal;
	margin-left: 0;
	padding: 3 0px;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 30%;
}

.footer-distributed .footer-center i{
	/* background-color:  #fff; */
	color: #ffffff;
	font-size: 25px;
	/* width: 38px;
	height: 38px; */
	/* border-radius: 50%; */
	text-align: center;
	line-height: 42px;
    padding-top: 10px;
	vertical-align: middle;
	/* margin: 20px 15px 20px 25px; */
	margin-top: 20px;
	margin-right: 15px;
	margin-bottom: 20px;
	margin-left: 25px;
	padding-left: 70px;
	
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #fff;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed a:hover{
  opacity: 0.7;
}

.contact:hover{
  opacity: 0.7;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

/* .footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #fff ;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
} */

.footer-right {
    flex: 1;
    /* min-width: 100px; */
	width: 20%;
    /* margin: 60px; */
    font-size: 28px;
}

.footer-right nav ul {
    list-style: none;
    padding: 0;
}

.footer-right nav ul li {
    margin: 30px 0 0 160px;
}

.footer-right nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.footer-right nav ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
}


/* footer{
	margin-top: 60px;
} */

@media (max-width: 768px) {

	.footer-distributed{
		/* font: bold 14px sans-serif; */
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}